
.layout{
    position: relative;
    width: 100%;
    /* background-color: rgb(7, 43, 73); */
    margin: 0;
    top: 0;
    bottom: 0;
    /* background: url('/images/fondo.jpg');
    background-size: cover; */
   
}