
.find{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.findCountry, .select{
    width: 300px;
    border-style: none;
    height: 2.5rem;
    margin-left: 2rem;
    border-radius: .2rem;
    padding: .5rem;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

.select{
    width: 200px;
    margin-right: 2rem;
}

.findCountry:focus{
    outline: none;
}
.select:focus{
    outline: none;
}

