

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: white;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .5);
    
}

.logo{
    margin-left: 4rem;
    color:  rgb(7, 43, 73);
}
.nav{
    margin-right: 2rem;
}

.list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.listItem{
    margin: 1rem;
}

.navLink{
    color:rgb(7, 43, 73);
}